.card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text and image */
  display: flex;
  flex-direction: column; /* Stack image, heading, and description vertically */
  justify-content: center; /* Center content vertically in the card */
  align-items: center; /* Center content horizontally in the card */
  width: 200px;
  max-width: 100%; /* Limit the max size of the card */
  text-decoration: none;
}

.exercise-image {
  width: 100%; /* Make the image responsive */
  max-width: 170px; /* Limit the max width of the image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}

h3 {
  margin: 12px 0 8px 0; /* Add space between the name and description */
  font-size: 1rem;
  color: #333;
}

p {
  margin: 0; /* No extra margin for the description */
  font-size: 0.75rem;
  color: #666;
  text-align: center; /* Ensure description is centered */
}
